<form id="new-doughnut" action="{{path}}" method="POST">
  <input type="text" name='flavor' id="new-doughnut-flavor" placeholder="What type of doughnut?" value="Chocolate">
  <select name="style" id="new-doughnut-style">
    <option value="Old Fashioned">Old Fashioned</option>
    <option value="Cake">Cake</option>
    <option value="French Cruller">French Cruller</option>
    <option value="Fritter">Fritter</option>
    <option value="Cream">Cream</option>
    <option value="Jelly">Jelly</option>
    <option value="Cruller">Cruller</option>
    <option value="Glazed">Glazed</option>
    <option value="Yeast">Yeast</option>
  </select>
  <input type="submit" value='Save My Doughnut'>
</form>